.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  text-transform: none;
  text-shadow: none; }

.reveal h1 {
  font-size: 2.2em;
  border-bottom: 1px solid #8b743d;
  margin-bottom: 1em; }
  .reveal h1.small-header {
    font-size: 1.4em;
    text-align: left; }

.reveal h2 {
  font-size: 1.6em; }

.reveal p.small {
  font-size: 0.9em; }

.reveal .spaced-out {
  margin-top: 1em; }

.reveal .in-place-fragments {
  position: relative;
  height: 2em; }
  .reveal .in-place-fragments .fragment {
    position: absolute;
    width: 100%; }

.reveal .references {
  list-style: none;
  font-size: 0.9em; }
  .reveal .references li {
    margin-bottom: 0.5em; }

.reveal .bits {
  display: inline-block;
  text-align: left;
  margin-top: 0.5em; }
  .reveal .bits .bit {
    display: inline-block;
    font-size: 1.1em;
    margin-left: -0.3em;
    padding: 0 0.4em;
    border: 1px solid black;
    border-left: none; }
    .reveal .bits .bit:first-child {
      border-left: 1px solid black; }
  .reveal .bits .caption {
    font-size: 0.9em;
    padding-left: 0.2em;
    text-align: left; }
    .reveal .bits .caption.center {
      padding-left: 0;
      text-align: center; }
    .reveal .bits .caption.hex {
      margin-left: -0.3em; }
  .reveal .bits.bits-small .bit {
    font-size: 0.9em;
    padding: 0 0.3em; }

.reveal .consecutive-bits .bits {
  display: inline-block;
  margin-left: -0.3em;
  padding-left: 0.3em;
  padding-top: 0.6em;
  padding-bottom: 0.3em;
  margin-top: -0.3em;
  border-left: 1px dashed black; }
  .reveal .consecutive-bits .bits:first-child {
    padding-left: 0;
    margin-left: 0;
    border-left: none; }
    .reveal .consecutive-bits .bits:first-child .bit:first-child {
      border-left: 1px solid black; }
  .reveal .consecutive-bits .bits .bit:first-child {
    border-left: none; }

.reveal .registers {
  display: inline-block;
  margin: 1em 2.5em; }
  .reveal .registers .register {
    font-family: monospace; }

.reveal .highlight-registers:before {
  content: '';
  display: block;
  position: absolute;
  top: 25%;
  left: 28%;
  height: 49%;
  width: 25%;
  background: rgba(255, 0, 255, 0.12);
  border: 1px solid white;
  z-index: -1; }

.reveal .highlight-bits:before, .reveal .highlight-bits:after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1; }

.reveal .highlight-bits.opcode:before {
  top: -32%;
  left: 1%;
  height: 31.3%;
  width: 4%;
  background: rgba(255, 0, 255, 0.3); }

.reveal .highlight-bits.opcode:after {
  top: -32%;
  left: 25.3%;
  height: 31.3%;
  width: 8%;
  background: rgba(255, 0, 255, 0.3); }

.reveal .highlight-bits.register:before {
  top: -49%;
  left: 33.3%;
  height: 47.3%;
  width: 8%;
  background: rgba(0, 255, 0, 0.3); }

.reveal .highlight-bits.register:after {
  top: -49%;
  left: 53.6%;
  height: 47.3%;
  width: 12%;
  background: rgba(0, 255, 0, 0.3); }

.reveal .highlight-bits.constant:before {
  top: -49%;
  left: 65.6%;
  height: 47.3%;
  width: 32.4%;
  background: rgba(0, 0, 255, 0.2); }

.reveal .arguments {
  list-style: none; }
  .reveal .arguments .argument code {
    display: block; }
  .reveal .arguments .argument .description {
    font-size: 0.9em;
    padding-left: 2em;
    margin-top: 0;
    margin-bottom: 0; }

.reveal .instruction {
  text-align: left;
  font-size: 0.8em;
  padding: 0.2em 0.5em;
  overflow: auto; }
  .reveal .instruction:nth-child(2n+1) {
    background: rgba(0, 0, 0, 0.1); }
  .reveal .instruction p {
    display: inline-block;
    float: right;
    width: 50%;
    margin: 0; }
  .reveal .instruction code {
    display: inline-block;
    float: left;
    width: 50%; }
