.reveal {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    text-transform: none;
    text-shadow: none;
  }

  h1 {
    font-size: 2.2em;
    border-bottom: 1px solid #8b743d;
    margin-bottom: 1em;

    &.small-header {
      font-size: 1.4em;
      text-align: left;
    }
  }

  h2 {
    font-size: 1.6em;
  }

  .spaced-out {
    margin-top: 1em;
  }

  .references {
    list-style: none;
    font-size: 0.9em;

    li {
      margin-bottom: 0.5em;
    }
  }

  .bits {
    display: inline-block;
    text-align: left;
    margin-top: 0.5em;

    .bit {
      display: inline-block;
      font-size: 1.1em;
      margin-left: -0.3em;
      padding: 0 0.4em;
      border: 1px solid black;
      border-left: none;

      &:first-child {
        border-left: 1px solid black;
      }
    }

    .caption {
      font-size: 0.9em;
      padding-left: 0.2em;
      text-align: left;

      &.center {
        padding-left: 0;
        text-align: center;
      }

      &.hex {
        margin-left: -0.3em;
      }
    }
  }

  .consecutive-bits {
    .bits {
      display: inline-block;
      margin-left: -0.3em;
      padding-left: 0.3em;
      padding-top: 0.6em;
      padding-bottom: 0.3em;
      margin-top: -0.3em;
      border-left: 1px dashed black;

      &:first-child {
        padding-left: 0;
        margin-left: 0;
        border-left: none;

        .bit {
          &:first-child {
            border-left: 1px solid black;
          }
        }
      }

      .bit {
        &:first-child {
          border-left: none;
        }
      }
    }
  }

  .registers {
    display: inline-block;
    margin: 1em 2.5em;

    .register {
      font-family: monospace;
    }
  }

  .highlight-registers {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 25%;
      left: 28%;
      height: 49%;
      width: 25%;
      background: rgba(255,0,255,0.12);
      border: 1px solid white;
      z-index: -1;
    }
  }
}
